.invoice{
  width: 80%;
  margin-left: 20%;
  height: 1000px;
  background-color: #f3f4f3;
}
.main-invoice{
  /* border: 1px solid rgb(249, 5, 5); */
  height: 150px;
  background-color: #64c5b1;
}
.main-invoice-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
}
.main-invoice-header div{
  /* border: 1px solid black; */
  cursor: pointer;
  font-weight: 500;
  height: 80px;
}
.print-btn button{
  border: none;
  background-color: white;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
  transition: ease-in-out 0.5ms;
}
.print-btn button:hover{
  background-color: rgb(103, 103, 241);
  color: white;
}
.main-invoice-miniheader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 1%;
  padding-left: 3%;
  padding-right: 3%;
  border: 1px solid black;
  color: black;
  height: 50px;
  background-color: rgb(255, 255, 255);
}
.main-invoice-body{
  border: 1px solid black;
  margin-left: 3%;
  margin-right: 3%;
  height: 810px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: white;
}
.mib-head{
  display: flex;
  /* border: 1px solid black; */
  color: black;
  margin-left: 3%;
  gap: 35%;
  width: 90%;
  line-height: 0.7;
  height: 200px;
}

.invoice-table{
  margin-top: 30px;
  border-collapse: collapse;
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
  color: black;
}
.invoice-table th{
  color:#64c5b1 ;
  background-color: #f8faff;
}
.invoice-table td, th{
  text-align: left;
  padding: 16px;
}
.invoice-table tr:nth-child(even) {
  background-color: #f4efef ;
 }
.sub-total{
display: inline-block;
/* border: 1px solid black; */
width: 37%;
margin-right: 3%;
height: 200px;
margin-left: 60%;
padding-left: 5%;
color: black;

}
.sub-total td{
  padding: 14px;
}
.st-left{
  width:160px; 
  font-weight: bold;
   /* height: 50px; */
}

/* a{
  text-decoration: none;
} */

